{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<p>Log in with your registered building name</p>
    <form action="/login" method="post" autocomplete="new-password">
        <div class="mb-3">
            <input autocomplete="new-password" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            console.log(document.documentElement.innerHTML);
        });
    </script>
{% endblock %}
